html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Liberation Mono', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #002e3f;
    background-color:#aefac1;
    box-sizing: border-box;
}

main {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}